@import 'mixins';
@import 'utilities';



.nav-section {
  .top-bar-wrapper {
    background: #fff;
    border-bottom: 1px solid #eee;
    .top-bar {
      max-width: 75rem;
      background: transparent;
      margin-left: auto;
      margin-right: auto;
      ul {
        background: transparent;
      }
    }
  }
  ul {
    li {
      a {
        color: #333;
        text-transform: uppercase;
      }
    }
  }
}

.site-name {
  li {
    padding-top: 0;
    padding-bottom: 0;
  }
}

footer {
  padding: 60px 0 40px;
  background: #384254;
  color: #fff;
}

.working-box {
  padding: 25px;
  display: block;
  margin-top: -140px;
  margin-bottom: 60px;
  background: #cb2940;
  position: relative;
  z-index: 4;
}

.home-header{
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
	width: 100%;
	@include c-transition(all, 0.3s, ease, 0.03s);
  .top-navbar{
    background: transparent;
  }
  .nav-section{
    .top-bar-wrapper{
      background: transparent;
      border: none;
    }
	}
	.site-logo{
		color: #fff;
		font-weight: bold;
	}
	.top-bar-right{
		ul{
			li{
				a{
					color: #fff;
				}
			}
		}
	}
	&.header-scrolled{
		z-index: 100;
		background: #fff;
		color: #464646;
		@include c-transition(all, 0.3s, ease, 0.03s);
		-webkit-animation: slow_fade_up 2s ease;
		animation: slow_fade_up 2s ease;
		.site-logo{
			color: #BA1548;
			font-weight: bold;
		}
		.top-navbar{
			background: #BA1548;
		}
		.social-list-top{
			li{
				a{
					color: #fff;
				}
			}
		}
		.top-bar-right{
			ul{
				li{
					a{
						color: #333;
					}
				}
			}
		}
	}
}

.social-list-top,
.contact-work-list{
  display: inline-block;
  list-style: none;
  margin: 10px 0;
  li{
    list-style: none;
    display: inline-block;
    a{
      color: #fff;
    }
    a+a{
      margin-left: 5px;
    }
  }
}
.contact-work-list{
  li{
    a{
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: -.5px;
      word-spacing: 2px;
    }
  }
}

.section-padding{
  padding: 100px 0;
  display: block;
}

.home-services{
  padding-bottom: 300px;
  background-image: url('../images/section/web-development.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.home-achievement{
  background: #fb4798
}
.text-uppercase{
  text-transform: uppercase;
}