<div class="home-portfolio section-padding">
  <div class="grid-container">
    <div class="grid-x ">
      <div class="small-12 cell">
        <h5 class="">
          <span class="fa fa-display"></span>
          Our Works
        </h5>
        <h2 class="text-uppercase separator-left margin-bottom-3">
          Portfolio
        </h2>
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam consequuntur eaque error hic laborum nihil, pariatur placeat quaerat quia recusandae sit, suscipit voluptas? Aperiam commodi dolores ducimus explicabo voluptates!
        </p>
      </div>
    </div>
  </div>
  <div class="full-show">
    <ul></ul>
  </div>
</div>