<div class="home-achievement section-padding">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 column">
        <h5 class="text-uppercase">
          <span class="fa fa-trophy"></span>
          Up Today
        </h5>
        <h2 class="separator-left text-uppercase">Achievement</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores corporis deleniti doloribus enim et ipsam natus nemo perspiciatis, quis quisquam repudiandae saepe tempore totam voluptate. Fuga numquam sed suscipit?
        </p>
        <ul class="achievements clearfix">
          <li>
            <div class="each-achievement clearfix">
              <div class="icon">
                <span class="fa fa-cubes"></span>
              </div>
              <div class="content">
                <h5 class="text-uppercase">
                  Project
                </h5>
                <h5 class="text-uppercase">
                  Completed
                </h5>
              </div>
              <div class="number">
                50
                <sup>+</sup>
              </div>
            </div>
          </li>
          <li>
            <div class="each-achievement clearfix">
              <div class="icon">
                <span class="fa fa-globe"></span>
              </div>
              <div class="content">
                <h5 class="text-uppercase">
                  Companies
                </h5>
                <h5 class="text-uppercase">
                  & Locations
                </h5>
              </div>
              <div class="number">
                8
                <sup>+</sup>
              </div>
            </div>
          </li>
          <li>
            <div class="each-achievement clearfix">
              <div class="icon">
                <span class="fa fa-heart"></span>
              </div>
              <div class="content">
                <h5 class="text-uppercase">
                  Satisfaction
                </h5>
                <h5 class="text-uppercase">
                  Rate
                </h5>
              </div>
              <div class="number">
                20
                <sup>%</sup>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>