<footer>
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">
        <!-- WORK BOX -->  
        <div class="working-box">
          <div class="grid-x">
            <div class="cell small-12 medium-4">
              <div class="media-object">
                <div class="media-object-section">
                  <div class="thumbnail">
                    <img src="assets/img/media-object/avatar-1.jpg">
                  </div>
                </div>
                <div class="media-object-section main-section">
                  <h5 class="text-uppercase">Working Time.</h5>
                  <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea
                    is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to
                    define or destroy you.</p>
                </div>
              </div>
            </div>
            <div class="small-12 medium-4 cell">
              <div class="media-object">
                <div class="media-object-section">
                  <div class="thumbnail">
                    <img src="assets/img/media-object/avatar-1.jpg">
                  </div>
                </div>
                <div class="media-object-section main-section">
                  <h5 class="text-uppercase">Head Office.</h5>
                  <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea
                    is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to
                    define or destroy you.</p>
                </div>
              </div>
            </div>
            <div class="small-12 medium-4 cell">
              <div class="media-object">
                <div class="media-object-section">
                  <div class="thumbnail">
                    <img src="assets/img/media-object/avatar-1.jpg">
                  </div>
                </div>
                <div class="media-object-section main-section">
                  <h5 class="text-uppercase">Contact US.</h5>
                  <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea
                    is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to
                    define or destroy you.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END WORK BOX -->

        <!-- FOOTER SECTIONS -->
        <div class="grid-x">
            <div class="small-12 medium-4 cell">
                <h6>About 7chip</h6>
            </div>
            <div class="small-12 medium-4 cell">
                <h6>Quick Links</h6>
            </div>
            <div class="small-12 medium-4 cell">
                <h6>Social Media</h6>    
            </div>    
        </div>    
        <!-- END FOOTER SECTIONS -->
      </div>

    </div>
  </div>
</footer>