<div class="nav-section">
  <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar-wrapper" id="responsive-menu">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu site-name">
          <li class="">
            <h3>7Chip</h3>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>{{#link-to 'home'}} Home {{/link-to}}</li>
          <li>{{#link-to 'portfolio'}} Portfolio {{/link-to}}</li>
          <li>{{#link-to 'team'}}Team{{/link-to}}</li>
          <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>