<div class="home-header">
  <div class="top-navbar">
    <div class="grid-container">
      <div class="grid-x">
        <div class="small-12 cell">
          <div class="clearfix">
            <ul class="float-left social-list-top">
              <li>
                <a href=""><span class="fa fa-facebook"></span></a><a href=""><span class="fa fa-twitter"></span></a><a href=""><span
                class="fa fa-linkedin"></span></a><a href=""><span class="fa fa-youtube"></span></a><a href=""><span
                class="fa fa-google-plus"></span></a>
              </li>
            </ul>
            <ul class="float-right contact-work-list">
              <li>
                <a href="tel://8943648198" class="text-uppercase">
                  <span class="fa fa-phone"></span>&nbsp;Our Phone&nbsp;8943618198
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="text-uppercase">
                  <span class="fa fa-time"></span>
                  Working Schedule- MON- SUN/ 8:00 AM - 2:00 AM
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-section">
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar-wrapper" id="responsive-menu">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu site-name">
            <li class="">
              <h3>7Chip</h3>
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>{{#link-to 'home'}} Home {{/link-to}}</li>
            <li>{{#link-to 'portfolio'}} Portfolio {{/link-to}}</li>
            <li>{{#link-to 'team'}}Team{{/link-to}}</li>
            <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>