<div class="home-slider">
  <div class="">
    <div class="grid-x">
      <div class="small-12 cell">
        <div>
            {{#home/home-slider}}gdfh{{/home/home-slider}}
        </div>
      </div>
    </div>
  </div>
</div>
